config INTELLI_PLUG
        bool "Enable intelli-plug cpu hotplug driver"
	depends on INTELLI_PLUG_HOTPLUG
        default n
        help
          Generic Intelli-plug cpu hotplug driver for ARM SOCs

